a{
	color:rgb(153,255,255);
	text-align:center;
	display:block;
	margin-right:auto;
	margin-left:auto;



}
h1 {
	color:rgb(255,255,255);
	margin: auto;
	text-align:center;
}
h3 {
	color: rgb(160,160,160);
	padding-bottom:1em;
	text-align:center;
	margin: auto;
}
h2 { 
	color:rgb(255,255,255);
	text-align:center;
	margin: auto; 
	margin-top: auto;
	margin-bottom:auto; 
	padding-bottom:1em;
	padding-top:0.5em
}
body {
	background-color: rgb(0,0,0) !important;
}
.center{
	display: block;
	margin-right:auto;
	margin-left:auto; 

}
video{
	display:block;
	margin-right:auto;
	margin-left:auto;

}
img{
	padding-top:1em;
	padding-bottom:1em;
}